<!-- 
<mat-card>
    <mat-card-header>
      <mat-card-title>{{ student.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Grade 1: {{ student.subjects.english }}</li>
        <li>Grade 2: {{ student.subjects.math }}</li>
        <li>Grade 3: {{ student.subjects.science }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
<div class="container mt-4">
    <h2>{{ student.name }}</h2>
    <p>ID: {{ student.id }}</p>
    <p>Age: {{ student.age }}</p>
  
    <img *ngIf="student.image" [src]="student.image" alt="{{ student.name }} Image" class="img-fluid">
  </div> -->
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
                class="btn btn-secondary"> <img [src]="student.image" height="100" width="100" /></button>
            <span class="name mt-3">{{ student.name }}</span>
            <!-- <span
                class="idd">@eleanorpena</span> -->
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">ID
                    {{student.id}}</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Class
                    {{student.class}}</span> <span><i class="fa fa-copy"></i></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Year
                    {{student.year}}</span> <span><i class="fa fa-copy"></i></span> </div>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Age
                            {{student.age}}</span> <span><i class="fa fa-copy"></i></span> </div>
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">Category:
                                    {{student.category}}</span> <span><i class="fa fa-copy"></i></span> </div>
            <!-- <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div> -->
            <div class="table-responsive mt-4">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th>Grade</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>English</td>
                      <td>{{ student.subjects?.english }}</td>
                    </tr>
                    <tr>
                      <td>Science</td>
                      <td>{{ student.subjects?.science }}</td>
                    </tr>
                    <tr>
                      <td>Math</td>
                      <td>{{ student.subjects?.math }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>