<app-navbar></app-navbar>
<div class="container mt-4">
  <!-- Filters using Bootstrap select -->
  <div class="row">
    <div class="col-md-4 mb-3">
      <select class="form-select" [(ngModel)]="selectedFilter" (change)="onPrimarySecondaryChange()">
        <option selected disabled value="undefined">Select KG/Primary/Secondary</option>
        <option *ngFor="let option of primarySecondaryOptions" [ngValue]="option.value">{{ option.label }}
        </option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <select class="form-select" [(ngModel)]="selectedYear" (change)="onYearChange()">
        <option selected disabled value="undefined">Select Year</option>
        <option *ngFor="let year of yearOptions" [ngValue]="year.value">{{ year.label }}</option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <select class="form-select" [(ngModel)]="selectedClass">
        <option selected disabled value="undefined">Select Class</option>
        <option *ngFor="let class of classOptions" [ngValue]="class.value">{{ class.label }}</option>
      </select>
    </div>
  </div>


  <!-- Submit button -->
  <button type="button" class="btn btn-primary" (click)="onSubmit()">Search</button>
  <div *ngIf="errorMessage" class="mt-1 alert alert-danger text-center">
    {{ errorMessage }}
  </div>
  <button type="button" class="btn btn-success ms-1" *ngIf="showAddStudent()" (click)="openNewStudentModal()">Add New
    Student</button>
  <!-- Table to display student data -->
  <table mat-table [dataSource]="dataSource">
    <!-- Columns definition -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let student"> {{ student.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let student">
        <ng-container *ngIf="!editingStudent || editingStudent.id !== student.id; else editMode">
          {{ student.name }}
        </ng-container>
        <ng-template #editMode>
          <input class="table-input" [(ngModel)]="editingStudent.name" [value]="student.name" name="name" required>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let student">
        <ng-container *ngIf="!editingStudent || editingStudent.id !== student.id; else editMode">
          {{ student.year }}
        </ng-container>
        <ng-template #editMode>
          <input class="table-input" type="text" [(ngModel)]="editingStudent.year" name="year" required>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef> Class </th>
      <td mat-cell *matCellDef="let student">
        <ng-container *ngIf="!editingStudent || editingStudent.id !== student.id; else editMode">
          {{ student.class }}
        </ng-container>
        <ng-template #editMode>
          <input class="table-input" [(ngModel)]="editingStudent.class" name="class" required>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="viewStudent(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteStudent(element)">
          <mat-icon>delete</mat-icon>
        </button>

        <ng-container *ngIf="!editingStudent || editingStudent.id !== element.id; else editMode">
          <button mat-icon-button color="warn" (click)="editStudent(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-template #editMode>
          <button mat-icon-button color="primary" (click)="saveStudent()">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelEdit()">
            <mat-icon>cancel</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="mt-1 text-center">
          No record found
        </div>
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>